@mixin custom-box-shadow($color, $size: 4px, $opacity: .05) {
  box-shadow: $size ($size * 2) ($size * 6) 0 rgba($color, calc($opacity * 2)), ($size * 2) ($size * 4) ($size * 12) 0 rgba($color, $opacity);
}

@mixin custom-text-shadow($color, $size: 2px, $opacity: .05) {
  text-shadow: $size ($size * 2) ($size * 4) rgba($color, $opacity * 2), ($size * 2) ($size * 4) ($size * 8) rgba($color, $opacity);
}

@mixin custom-text-shadow-custom($color, $size: 2px, $size_1: 4px, $size_2: 8px, $opacity: .05) {
  text-shadow: $size $size_1 $size_2 rgba($color, $opacity * 2), ($size * 2) ($size_1 * 2) ($size_2 * 2) rgba($color, $opacity);
}

@mixin title-text-shadow($letterspacing: 12px, $size: 2px, $size_1: 4px, $size_2: 8px, $opacity: .9, $has-padding: true) {
  @if $has-padding {
    padding: 0 ($spacer * 2) ($spacer * 1.618) 0;
  }
  color: $title-darken;
  letter-spacing: $letterspacing;
  text-shadow: $size $size_1 $size_2 rgba($title-shadow, $opacity), (-$size) (-$size_1) ($size_2) rgba($title-shadow, $opacity), (0) ($size_1) ($size_2) rgba($title-shadow, $opacity), (0) (-$size_1) ($size_2) rgba($title-shadow, $opacity);
}

@mixin custom-inner-shadow($color, $size: 4px, $opacity: .33) {
  box-shadow: inset 0px 0px $size rgba($color, $opacity);
}

@mixin custom-inner-shadow-lg($color, $opacity: 0.33) {
  box-shadow: inset 0px 0px ($spacer / 1.618) rgba($color, $opacity);
}

//
// Custom Variant for TFC
//
@mixin tfc-button-variant($color, $background) {
  $active-background: $black;
  $active-border: $black;

  color: $black;
  background-color: $background;
  border-color: $background;
  @include box-shadow($btn-box-shadow);

  // Hover and focus styles are shared
  @include hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }
  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 2px rgba($background, .5);
    } @else {
      box-shadow: 0 0 0 2px rgba($background, .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $background;
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $color;
    background-color: $active-background;
    background-image: none; // Remove the gradient for the pressed/active state
    border-color: $active-border;
    @include box-shadow($btn-active-box-shadow);
  }
}

@mixin app-block-padding($app-padding-x: 1.618rem) {
    padding-left: $app-padding-x;
    padding-right: $app-padding-x;
    padding-top: $app-padding-x;
    padding-bottom: $app-padding-x;
}
