/node_modules
/svg_projects
/svg_dev
/vendor
/.idea
/resources/assets/working
/resources/assets/copy_bootstrap
/storage/*.key
/public/hot
/public/storage
public/img/cover-1.jpg
Homestead.json
Homestead.yaml
.env
npm-debug.log


*.DS_Store
www.simonepozzobon.dev.crt
www.simonepozzobon.dev.key

.bash_profile

laravel-echo-server.json


# Ignore sketch files
*.sketch

# Ignore Eslint Config
.eslintrc.json
