/node_modules
/svg_projects
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/resources/assets/working
Homestead.json
Homestead.yaml
.env
npm-debug.log

public/img/cover-1.jpg

*.DS_Store
www.simonepozzobon.dev.crt
www.simonepozzobon.dev.key

.bash_profile

laravel-echo-server.json


# Ignore sketch files
*.sketch

server.js

/resources/assets/importbootstrap
