
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:900i);

// Variables
@import "variables";
@import "normalize";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "navbar";
@import "forms";
@import "filters";


[v-cloak] {
  display: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@import "resources/assets/admin/sass/_style.scss";
